/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */



/* menu v hlavičce */

.menu {
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
}


.menu a{
    color: #25133d;
    display: flex;
    margin: 0 20px;
    text-decoration: none;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    font-weight: bolder;
}


/* část super appka */

.appka {
    background-image: url('images/pozadi.jpg');
    background-size: 100% 100%;
    color: white;
    background-repeat: no-repeat;
    padding-left: 2rem;
   
}

.slogan {
    font-weight:normal;
    font-size: 60px;
    margin:0;
    padding-top: 10px;
    
}

.text {
    font-weight: lighter;
    font-size: 30px;
    padding: 1rem 0;
}

.tlacitko {
    display: block;
    padding: 3rem 0;
}

.tlacitko a {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    color: white;
    margin-right: 1rem;
}

.tlacitko a:hover,
.tlacitko a:focus,
.tlacitko a:active {
    background-color: #48418e;
}

.appka img {
    float: right;
    max-height: 402px;
    padding-top: 20px;


}

/* část možnosti */

.funkce {
    display: flex;
    text-align: center;
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 1rem;
}

.moznosti img {
    width:50px;
    height:50px;
}

h3 {
    color:#48418e;
}

li {
    margin: 0 20px;
}


/* část patička */

.paticka {
    background-color: #48418e;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: smaller;
}